<div class="kanban-row draggable <%= "color-id-#{issue.kanban_color_id}" rescue '' %>" id="kb-row-<%= issue.id %>"
  data-id="<%= issue.id %>">
  <div class="issue-id">
    <%= link_to issue.id, '#', target: '_blank' %>
  </div>
  <div class="issue-subject">
    <%= issue.subject %>
  </div>
  <div class="issue-assignee">
    <% if issue.assigned_to_id %>
      <%= link_to issue.assigned_to.name, issue.assigned_to %>
    <% else %>
      &nbsp;
    <% end %>
  </div>
  <div id="fields" style="display:none">
    <%
    [
      :subject,
      :description,
      :assigned_to_id,
      :fixed_version_id
    ].each do |name| %>
      <span id="<%= name %>"><%= issue.send(name) %></span>
    <% end %>
  </div>
</div>
