<div class="kanban-row draggable <%= "color-id-#{issue.kanban_color_id}" rescue '' %>" id="kb-row-<%= issue.id %>"
  data-id="<%= issue.id %>">
  <div class="issue-id">#<%= issue.id %></div>
  <div class="issue-subject"><%= issue.subject %></div>
  <div class="issue-assignee"><%= issue.assigned_to_id && issue.assigned_to.name || 'None' %></div>
</div>
