<%= content_for :header_tags do %>
  <%= stylesheet_link_tag 'kanban', plugin: 'kanbine' %>
  <%= javascript_include_tag 'kanban', plugin: 'kanbine' %>
  <%= render partial: 'color_styles', locals: { project: @project } %>
  <%= call_hook(:view_kanbine_header_tags, {}) %>
<% end %>

<%= render partial: 'versions' %>

<%= call_hook(:view_kanbine_above_container, {}) %>

<div id="outer-container">
  <div id="kanban-container" data-version="<%= @version_id %>"
      data-project="<%= @project.id %>">
    <% @ordered_statuses.each do |status| %>
      <%= render partial: 'column', locals: { status: status, issues: @issues[status.id] || [] } %>
    <% end %>
    <div style="clear:both"></div>
  </div>
</div>

<%= call_hook(:view_kanbine_below_container, {}) %>

<div id="kanban-info">
  <%= pluralize(@not_shown_count_statuses, 'issue') %> with other statuses not shown.<br>
  <%= pluralize(@not_shown_count_trackers, 'issue') %> with other trackers not shown.<br>
  <%= pluralize(@overflow_count, 'issue') %> hidden to keep the columns managable.
</div>

<%= render partial: 'dialog_helper' %>
