<%
  settings = @project.kanbine_settings
%>

<%= form_for settings, url: settings_kanbine_path(id: @project.id), method: :post do |f| %>
  <%= hidden_field_tag :kanbine_settings_id, settings.id %>

  <div>
    <%= label_tag :kanban_status_ids %>
    <%= select_tag :kanban_status_ids, options_for_select(IssueStatus.all.map { |is| [is.name, is.id] }, @project.kanban_status_ids), multiple: true %>
  </div>

  <div>
    <%= label_tag :kanban_tracker_ids %>
    <%= select_tag :kanban_tracker_ids, options_for_select(@project.trackers.map { |tr| [tr.name, tr.id] }, @project.kanban_tracker_ids), multiple: true %>
  </div>

  <%= f.submit 'Save' %>
<% end %>
