<%
  settings = @project.kanbine_settings
%>

<%= form_for settings, url: settings_kanbine_path(id: @project.id), method: :post do |f| %>
  <%= hidden_field_tag :kanbine_settings_id, settings.id %>

  <h3>Statuses</h3>
  <%= render partial: 'kanbine/checkboxes', locals: {
    collection: 'kanban_status',
    objects: IssueStatus.all,
    name_field: :name,
    object: :kanbine_settings,
    included: @project.kanban_statuses
  } %>

  <h3>Trackers</h3>
  <%= render partial: 'kanbine/checkboxes', locals: {
    collection: 'kanban_tracker',
    objects: @project.trackers,
    name_field: :name,
    object: :kanbine_settings,
    included: @project.kanban_trackers
  } %>

  <% if @project.respond_to? :tag_groups %>
    <% options = @project.tag_groups.map { |t| [t.name, t.id] } %>
    <% if options.any? %>
      <h3>Tag Colour</h3>
      <p>Group to use to colour issues on the kanban screen</p>
      <p>
        <%= f.select :color_tag_group_id, options_for_select(options, settings.color_tag_group_id), include_blank: true %>
      </p>
    <% end %>
  <% end %>

  <h3>Misc</h3>
  <p>Number of issues per column (blank for no limit)</p>
  <p><%= f.text_field :issue_limit %></p>

  <br>
  <%= f.submit 'Save' %>
<% end %>
